
table {
	border-collapse: collapse;
	margin: 8px 16px;
	padding: 8px;
}

tr, td, th {
	border: 1px solid lightgray;
	text-align: left;
	padding: 8px;
	font-family: 'Muli', sans-serif;
	color: #545454;
}

.table-row:nth-child(even) {
    background-color: #dddddd;
}

h1 {
	font-family: 'Muli', sans-serif;
	padding: 8px;
	margin-left: 8px;
	color: #545454;
}

.go-back-btn {
	text-decoration: none;
	color: steelblue;
	font-family: 'Muli', sans-serif;
	padding: 8px;
	margin: 10px;
}
